<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} [%t] %highlight{%-5level} %c{1.} - %msg%n"/>
        </Console>
        <File name="errorLog" fileName="failures.log">
            <PatternLayout pattern="%d{ABSOLUTE} [%t] %highlight{%-5level} %c{1.} - %msg%n"/>
        </File>
        <Async name="async">
            <AppenderRef ref="errorLog"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="org.shlrm" level="error" additivity="true">
            <AppenderRef ref="errorLog"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>